<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
	  <modules>        
		<remove name="WebDAVModule" />
	  </modules>
      <handlers>
	    <remove name="WebDAV" /> 
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\AzServiceSaudeUCB.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: cfac7ed6-4d2b-40be-bcbe-fbecdc73bcc6-->