.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: max-content
}

.alert-primary {
    color: #0E1525;
    font-weight: bold;
    background-color: #B6CD02;
    border-color: #ACC002;
}